<div class="app-header header-shadow">
    {{> report_securityaudit/components/logo }}
    <div class="app-header__content">
        <div class="app-header-left">
            {{> report_securityaudit/components/header-left }}
        </div>
        <div class="app-header-right">
            {{> report_securityaudit/components/header-right }}
        </div>
    </div>
</div>