<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="font-icon-md me-2">
            <i class="fa {{ icon }} icon-gradient bg-midnight-bloom pe-2"> </i>
        </div>
        {{name}}
        <div class="btn-actions-pane-right">
            <div class="widget-content-right">
                <div class="widget-numbers">
                    <div class="ml-auto badge badge-pill {{failedcolor}}" data-bs-toggle="tooltip" title="{{#str}} countfailed, report_securityaudit {{/str}}">{{ failed }}</div>
                    /
                    <div class="ml-auto badge badge-pill bg-happy-green" data-bs-toggle="tooltip" title="{{#str}} countsuccess, report_securityaudit {{/str}}">{{ success }}</div>
                </div>
            </div>
        </div>
    </div>
    {{#failed}}
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center">{{#str}}status,  report_securityaudit{{/str}}</th>
                <th>{{#str}}description,  report_securityaudit{{/str}}</th>
                <th class="text-center">{{#str}}action,  report_securityaudit{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{# checks }}
            <tr>
                <td class="text-center">
                    <div class="badge status-bg-{{ status }}">{{ statusname }}</div>
                </td>
                <td> {{{ name }}} </td>
                <td class="text-center">
                    {{#downloaddata}}
                    <a href="{{{downloadurl}}}" type="button" class="btn btn-success btn-sm checkbtn" data-bs-toggle="tooltip" data-bs-original-title="{{#str}} tooltipcheckbtn, report_securityaudit {{/str}}">{{#str}} check {{/str}}</a>
                    {{/downloaddata}}
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target=".{{databstarget}}">{{#str}} details {{/str}}</button>
                </td>
            </tr>
            {{/ checks }}
            </tbody>
        </table>
    </div>
    {{/failed}}
    {{^failed}}

    <div class="widget-content bg-success">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="ui-widget-icon-block me-2" style="min-width: 50px;">
                    <i class="pe-7s-like2" style="font-size: 3rem;"></i>
                </div>
            </div>
            <div class="widget-content-left">
                <div class="widget-heading">{{#str}} nofail_title, report_securityaudit{{/str}}</div>
                <div class="widget-subheading">{{#str}} nofail_desc, report_securityaudit{{/str}}</div>
            </div>
        </div>
    </div>

    {{/failed}}
</div>
