<div class="page-title-actions">

    <a href="https://when2update.lmswithai.com/report_bug/" rel="noopener noreferrer" target="_blank" type="button" class="btn-shadow mr-3 btn btn-secondary">
        <span class="btn-icon-wrapper pe-2 opacity-7">
            <i class="fa fa-lightbulb fa-w-20"></i>
        </span>
        {{#str}}formlmswitaibtn, report_securityaudit, {{release}}{{/str}}
    </a>

    {{# setting }}
    <button onclick="window.location.href='{{url}}';" type="button" data-bs-toggle="tooltip" title="{{#str}}setting, report_securityaudit{{/str}}" data-bs-placement="bottom" class="btn-shadow me-3 btn btn-dark">
        <i class="fa fa-gear"></i>
    </button>
    {{/ setting }}

</div>