<div class="page-title-actions">
    <button onclick="window.open('https://lmswithai.com/plugin-security-audit/', '_blank');" type="button" class="btn-shadow mr-3 btn btn-secondary">
        <span class="btn-icon-wrapper pe-2 opacity-7">
            <i class="fa fa-lightbulb fa-w-20"></i>
        </span>
        {{#str}}formlmswitaibtn, report_securityaudit, {{release}}{{/str}}
    </button>
</div>