<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="{{pageicon}} icon-gradient bg-malibu-beach">
                </i>
            </div>
            <div>{{pagetitle}}

                <div class="page-title-subheading">
                {{#timecheck}}
                {{#str}}lastcheck, report_securityaudit{{/str}} {{timecheck}}
                {{/timecheck}}
                </div>
            </div>
        </div>
        {{> report_securityaudit/page-title-actions }}
    </div>
</div>