<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-display1 icon-gradient bg-malibu-beach">
                </i>
            </div>
            <div>{{#str}} securityaudit, report_securityaudit {{/str}} {{release}}
            <div class="page-title-subheading">{{#str}}lastcheck, report_securityaudit{{/str}} {{timecheck}}
                </div>
            </div>
        </div>
        {{> report_securityaudit/page-title-actions }}
    </div>
</div>