<ul class="header-menu nav">
    <li class="nav-item">
        <a href="{{backurl}}" class="nav-link">
            <i class="nav-link-icon fa fa-cogs"> </i>
            {{#str}} btnbackas, report_securityaudit {{/str}}
        </a>
    </li>
</ul>