
.nis-table td .font-icon-wrapper {
    border: unset;
    min-width: 80px;
    min-height: 80px;
    margin: unset;
    padding: unset;
    float: none;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nis-cell-button-border {
    border-bottom: 2px #d5d7dc solid !important;
}
.nis-cell-border-color {
    border-color: #d5d7dc;
}
.nis-cell-button-border-light {
    border-bottom: 1px #d5d7dc solid !important;
}